{% extends "main.html" %}

{% block title %}
    <title>{{ Test.name }}: отображение теста</title>
{% endblock %}

{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        {% for question in Test.question_list %}
            <div class="question" id="{{ question.id }}">
                <h1>{{ question.text }}</h1><br>
                {% if question.type == 'text' %}
{#                    <textarea name="{{ question.id }}" id="" cols="30" rows="10"></textarea>#}
                    <input type="textarea" name="{{ question.id }}" value="" size="140">
                {% elif question.type == 'radio' %}
                    {% for answer in question.answer_list %}
                        {% if answer.question_id == question.id %}
{#                          <input type="radio" name="{{ question.id }}" value="{{ answer.id }}">{{ answer.text }}<br>#}
                        {% endif %}
                    {% endfor %}
                {% elif question.type == 'checkbox' %}
                    {% for answer in question.answer_list %}
                        {% if answer.question_id == question.id %}
                            <input type="checkbox" name="{{ question.id }}" value="{{ answer.id }}">{{ answer.text }}<br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Готово!">
    </form>
    {{ debug }}
{% endblock %}